.offset-lg-1.col-lg-10.lead.text-center.my-4.stem-forklaring
  .text-center.question-headline.underline= question.headline
  %p.small
    = truncate(question.text, :length => 100, :omission => "..." , :escape => false)
  %span.display-4= question.votes.length
  %span.small har stemt
