<% @questions.each do |question| %>
	<%= link_to question_path(question), class: "row mt-4 pt-4 questions-wrapper" do %>
			<div class="col-md-10">
				<div><u><%= question.headline %></u></div>
				<p class="lead">
					<%= truncate(question.text, length: 100) %>
				</p>
			</div>
			<div class="col-md-2 display-4 text-center">
				<%= question.vote_count.to_s %>
			</div>
	<% end %><!-- link_to -->
<% end %>
