<div id="NotLoggedIn"></div>
<div class="row">
<div class="offset-lg-1 col-lg-10 lead text-center my-4 border-top-0">
	<strong class="">STEM</strong> er siden, hvor du kan få indflydelse på Sweig. <br>Her stemmer vi og diskuterer om forskellige funktioner skal integreres i fremtiden. <br>
	Man har hver én stemme pr. spørgsmål.
	
</div>
<!-- <div class="offset-lg-2 col-lg-4 text-center">Flest stemmer</div>
<div class="col-lg-4 text-center">Sidst aktiv</div>
 --></div>

<%= render partial: "show_questions", locals: {question: @questions} %>
