<div id="NotLoggedIn"></div>
<div class="row">
<div class="offset-lg-2 col-lg-4 text-center">Flest stemmer</div>
<div class="col-lg-4 text-center">Sidst aktiv</div>
</div>
<% if current_user.present? %>
<%= render partial: "show_questions_user", locals: {question: @questions} %>
<% else %>
<%= render partial: "show_questions_other", locals: {question: @questions} %>
<% end %> 
