<div id="NotLoggedIn"></div>

<% if current_user.present? %>
<%= render partial: "show_question_user", locals: {question: @questions} %>
<% else %>
<%= render partial: "show_questions_other", locals: {question: @questions} %>
<% end %> 
