
<div class="offset-lg-2 col-lg-8 mt-4">
	<%= link_to "Tilbage til oversigten", show_questions_path(), class: "btn btn-secondary" %>
	<h1>Opret dit spørgsmål.</h1>

	<%= render partial: "question_form", locals: {question: @question, button_text: "Opret dit spørgsmål"} %>
</div><!-- col-lg-8 -->