<div class="col-lg-12 main">
<%= render partial: "shared/search_header", locals: {site: "SØG", autofocus: true} %>
	<div class="row search-results-load hide-it">
		<%= image_tag "sweig-logo-load", class: "loading-icon" %>
	</div>
	<div class="row search-results mb-4">
		<!-- TIL SØGERESULTATERNE -->
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function($) {
		$("#soegeFelt").on("keyup paste", function() {
			$(".search-results-load").show();
			$search_text = $(this).val();
			$.ajax({
				url: '/soegefelt/resultat',
				type: 'GET',
				data: {search: $search_text}
			});	
			$(".search-results-load").delay(800).fadeOut(300);
		});
	});

</script>