<h1 class="text-center text-uppercase">
	Fremtid
</h1>
<div class="lead text-center my-3">Sweig er en platform i konstant bevægelse. <br>Herunder kan du læse lidt om fremtiden og overvejelser derom.</div>
<div class="row">
<div class="col-md-8">
<h4>Læse-app</h4>
	<p>Det er vigtigt at teksterne på Sweig bliver så lettilgængelige som overhovedet muligt, og at vi kan kommunikere med sidens brugere. <br>
		Derfor kommer der til december en læse-app, der vil være koblet op på systemet, så du kan tilgå din profil via den.</p>
<h4>Kommende funktioner</h4>
<p>Mange funktioner er på tegnebrættet. En af de væsentlige er, at det bliver muligt at oprette oplæsningsarrangementer og tilmelde sig via sin bruger.</p>
<p>En anden vækker spørgsmålet: <i>Skal det være muligt at kommentere andres værker?</i><br>
Har du en kommentar til dette eller andre ideer, som du gerne vil dele, så er du meget velkommen til at skrive under kontakt.</p>
<h4>Fysiske udgivelser</h4>
<p>Til januar 2018 håber vi at kunne trykke fysiske eksemplarer af nogle udvalgte værker fra siden. Disse vil være mulige at købe via Sweig.</p>
</div>
<div class="col-md-4">
	<%= image_tag "laese-app" %>
</div>
<div class="col-md-8">

</div>

</div>	