<% provide(:title, "Forside") %>

<div class="row">
	<div class="column large-3">
		<div class="button primary">Info</div>
	</div>
	<div class="column large-3">
		<div class="button secondary">Hvorfor</div>
	</div>
	<div class="column large-3">
		<div class="button succes">Fremtid</div>
	</div>
	<div class="column large-3">
		<div class="button warning">Kontakt</div>
	</div>
	<div class="column large-3">
		<div class="button alert">Dig & Mig </div>
	</div>
</div>


<h1>Hey!</h1>