



<div class="logo-wrapper">
<!-- 	<div class="frontpage-nav">
	</div> -->
	<div class="logo-text">
		
		<%= image_tag "baggrund-til-sweig-logo", id: "LogoBackground", class: "float-left" %>
		<% if user_signed_in? %>
				<div class="user-logged-in-entrance">
			<%= link_to user_path(current_user) do %>
					<h5>Gå til</h5><br>
					<h2>MIT</h2>
			<% end %>
				</div>
		<% end %>
		<div class="logo-text-box">
			<h1>sweig</h1>
			<p class="roboto-mono">det skrevne ord</p>
		</div>
		
	</div>
</div>
