<!-- navbar button -->
<div class="row forside forside-bil-tekst-wrapper">
	<div class="col-md-6 forside-bil tab-content">	
	
		<%= image_tag "baggrund-til-sweig-logo-skarpt", class: "billeder active logo-background sweig-bil", role: "tabpanel" %>
		<%= image_tag "bruger", class: "billeder hide-it logo-background app-bil", role: "tabpanel" %>
		<%= image_tag "udgivelser", class: "billeder hide-it logo-background hvordan-bil", role: "tabpanel" %>

	</div>
	<div class="col-md-6 mt-4">

			<div class="row mt-4 nav nav-tabs frontpage-menu-wrapper" role="tablist">
				<div role="presentation" class="forside-tekst-overskrift lead">
					<a href="#sweig" aria-controls="sweig" class="active" id="sweig-bil" role="tab" data-toggle="tab">Sweig</a>
				</div>
				<div role="presentation" class="forside-tekst-overskrift lead">
					<a href="#hvordan" aria-controls="hvordan" id="hvordan-bil" role="tab" data-toggle="tab">læs</a>
				</div>
				<div role="presentation" class="forside-tekst-overskrift lead">
					<a href="#app" aria-controls="app" id="app-bil" role="tab" data-toggle="tab">bruger</a>
				</div>
			
 			</div><!-- frontpage-menu-wrapper -->

		<div class="row">
			<div class="tab-content">
				<p role="tabpanel" class="text-center-md tab-pane tekst-forside active" id="sweig">Sweig er et nyt åbent tidsskrift for litteratur.</p>
				<p role="tabpanel" class="text-center-md tab-pane tekst-forside" id="hvordan">Under LÆS kan du både søge, se nyeste og bruge mærker til at finde værker. Hvert værk har sit eget læse-vindue.
				<p role="tabpanel" class="text-center-md tab-pane tekst-forside" id="app">Hvis du ønsker at gemme værker, følge andre brugere eller selv at kunne udgive, skal du oprette en bruger. <br><%= link_to "Gå til opret", new_user_registration_path(), class: "active" %>
			

			</div>
		</div>

	</div><!-- col-md-6 -->
</div><!-- row forside-bil-tekst-wrapper -->
<script type="text/javascript">
	$(document).ready(function($) {
		$(".forside-tekst-overskrift a").click(function(e) {
			e.preventDefault();
			id = $(this).attr("id");
			$("." + id ).show().siblings().hide();
		});
	});		
</script>