<%= session_helper_social %>


<div class="logo-wrapper">
	<div class="logo-text">
	<%= image_tag "baggrund-til-sweig-logo", id: "LogoBackground" %>
	<h1>sweig</h1>
	<p class="roboto-mono">Til dig der elsker<br> det skrevne ord</p>
<%= fa_icon "search" %>
	</div>
</div>

<%= render partial: "shared/sign_in_button" %>

