<h1 class="h5 text-center mt-4">
</h1>
<div class="row">
	<p class="offset-md-2 col-lg-8 lead text-center">Sweig er bygget for at udbrede litteraturen i Danmark. <br>
				Som arena, som platform, som hjemsted for dine værker, bestræber vi os på at skabe det bedste rum for det skrevne ord. <br>
	</p>
<div class="col-md-12">

	<h2 class="h4">Rettigheder</h2>
	<p>Sweig ejer <strong>IKKE</strong> dine værker. Rettighederne til det, du lægger op, tilhører dig. <br>Hvis det kommer på tale at udgive noget gennem Sweig, som du har skrevet, vil det først kræve en godkendelse af dig.<br></p>
	<h2 class="h4">Restriktioner</h2>
	<p>Ved forsøg af kopiering af andres værker kommer et vindue, der opfordrer til at dele linket istedet. Dette gør vi for at en eventuel deling af et værk generer besøg til siden og viser afsenderens brugernavn.<br><small>(Det er vigtigt at understrege, at det aldrig ville kunne gøres umuligt at kopiere på internettet. Dette er en opfordring. Ikke en garanti for, at dine værker undgår kopiering.)</small></p>
	<h2 class="h4">Start-10-reglen</h2>
	<p>For at sikre at databasen og serveren kan følge med brugerne, og at siden ikke bliver for langsom, så er der nogle begrænsninger på uploads og antal værker mm. her i starten.</p>
	<ul>
		<li>Du kan have 10 værker i alt (kladder og udgivet).</li>
		<li>Du kan have 10 gemte værker.</li>
		<li>Du kan højest følge 10 andre brugere.</li>
		<li>Et værk kan højeste være ca. 10 sider langt.</li>
	</ul>
	<p>Dette håber vi at kunne hæve inden 2018.</p>

</div>
</div>