.row.mt-4
.lead.text-center.my-4 Sweig-møde
.row
  .col-md-8
    %h4 Formål
    %p
      Vi mødes for at finde ind til kernen af Sweig og udbrede og forbedre siden.
      %br/
    %h4 Forventninger
    %p
      Forventninger til evt. deltagelse er, at man kommer til det ene møde.
      %br/
      Der vil være mulighed for at lægge yderligere timer i siden, men det er vigtigt at understrege, at det ikke er et krav.
    %h4 1. dagsorden
    %ul
      %li Hvad er Sweig?
      %li Hvad er sket den sidste måned?
      %li Hvordan kan Sweig blive bedre?
      %li Hvad skal ske den næste måned?
      %li Hvordan ser verden ud? Hvordan ser din drømmeverden ud?
    %h4 1. møde
    %p
      Det første møde vil finde sted i DR-byen onsdag aften d. 11 oktober.
      %br/
      Mere information om mødested og tidspunkt følger.
  .col-md-4.text-center
    = image_tag "samtale"
