<div class="row mt-4"></div>
<div class="lead text-center my-4">Et månedligt Sweig-møde</div>
<div class="row">
	<div class="col-md-8">
		<h4>Formål</h4>
		<p>Vi mødes for at finde ind til kernen af Sweig og udbrede og forbedre siden.<br>
		</p>
		<h4>Forventninger</h4>
		<p>Forventninger til evt. deltagelse er, at man kommer til det ene møde.<br>
			Der vil være mulighed for at lægge yderligere timer i siden, men det er vigtigt at understrege, at det ikke er et krav.</p>
		<h4>1. dagsorden</h4>
		<ul>
			<li>Hvad er Sweig?</li>
			<li>Hvad er sket den sidste måned?</li>
			<li>Hvordan kan Sweig blive bedre?</li>
			<li>Hvad skal ske den næste måned?</li>
			<li>Hvordan ser verden ud? Hvad kan vi gøre for at påvirke den i en god retning?</li>
		</ul>
		<h4>1. møde</h4>
		<p>Det første møde vil finde sted i DR-byen onsdag aften d. 11 oktober.<br>
		Mere information om mødested og tidspunkt følger.</p>
	</div>
	<div class="col-md-4 text-center">
		<%= image_tag "samtale" %>
	</div>

</div>	