<%= javascript_include_tag "search_ajax" %>
<div class="col-lg-12 main">
	<%= render partial: "shared/search_header", locals: {site: "NYESTE", autofocus: false} %>
	<div class="row search-results-load hide-it">
		<%= image_tag "sweig-logo-load", class: "loading-icon" %>
	</div>

	<div class="row search-results mb-4">
			
		<h2 class="mt-4 user-work-header black">
			 Nyeste:
		</h2>
		<span class="newest-works-find">
		<%= render partial: "users/user_works", 
		locals: {works: @newest_works, extra_class: "user-work-wrapper", edit: nil} %>
		</span>
		<br>

	</div>
</div>

