<div class="log-content opret-log-in-wrapper">

	<div class="tab-content clearfix">
		<div class="log-body-inner log-in-body tab-pane fade in <%= params[:show_partial] == 'opret' ? 'hide-it' : 'active show' %>" id="signInField">
			<div class="offset-md-4 col-md-4">
			<%= render partial: "shared/form/log_ind" %>
			</div>

		</div><!-- #SignIn -->
		<div class="log-body-inner tab-pane fade <%= params[:show_partial] == 'opret' ? 'active show' : 'hide-it' %>" id="signUpField">
			<div class="row">
				<div class="col-md-6">
					<div class="lead">Bliv en del af fællesskabet</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus soluta obcaecati aperiam enim, magni nisi eaque quod, cumque itaque odit voluptates eius dolor sint culpa repudiandae quo veritatis, odio tenetur.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nobis, possimus assumenda debitis veniam labore aliquid illo tenetur nemo quia! Tenetur pariatur esse, minima excepturi doloribus suscipit eos animi laboriosam.</p>
				</div>
				<div class="col-md-6">
					<%= render partial: "shared/form/create_user" %>
					
			</div>

		</div><!-- #SignUp -->
	</div>


</div><!-- modal-content -->


