<div class="log-content opret-log-in-wrapper">

  <div class="tab-content clearfix">
    <div class="log-body-inner tab-pane fade active show" id="signUpField">
      <div class="row">
        <div class="col-md-6">
          <h1 class="lead">Bliv en del af fællesskabet og forandringen</h1>
          <p>Sweig er bygget fra bunden i det samme kodesystem som <%= link_to "SoundCloud", "https://soundcloud.com/", target: "_blank" %>. <br>

        </div>
        <div class="col-md-6">
          <%= render partial: "shared/form/create_user" %>

      </div>

    </div><!-- #SignUp -->
  </div>


</div><!-- modal-content -->


