<div class="log-content opret-log-in-wrapper">

  <div class="tab-content clearfix">
    <div class="log-body-inner tab-pane fade active show" id="signUpField">
      <div class="row">
        <div class="col-md-6">
          <h1 class="h5 text-center-md">Bliv en del af fællesskabet</h1>
          <p class="text-center-md">Sweig byder dig velkommen til en eksperimenterende verden.
          <br>Vi glæder os til fremtiden.<br>
          <span class="small">Sweig</span>
        <div class="hidden-md-up"><hr></div>
        </div>
        <div class="col-md-6">
          <%= render partial: "shared/form/create_user" %>

      </div>

    </div><!-- #SignUp -->
  </div>


</div><!-- modal-content -->


