/* jQuery Countdown styles 2.0.0. */
/* line 2, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/jquery.countdown.css */
.is-countdown {
  border: 1px solid #ccc;
  background-color: #eee;
}

/* line 6, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/jquery.countdown.css */
.countdown-rtl {
  direction: rtl;
}

/* line 9, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/jquery.countdown.css */
.countdown-holding span {
  color: #888;
}

/* line 12, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/jquery.countdown.css */
.countdown-row {
  clear: both;
  width: 100%;
  padding: 0px 2px;
  text-align: center;
}

/* line 18, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/jquery.countdown.css */
.countdown-show1 .countdown-section {
  width: 98%;
}

/* line 21, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/jquery.countdown.css */
.countdown-show2 .countdown-section {
  width: 48%;
}

/* line 24, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/jquery.countdown.css */
.countdown-show3 .countdown-section {
  width: 32.5%;
}

/* line 27, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/jquery.countdown.css */
.countdown-show4 .countdown-section {
  width: 24.5%;
}

/* line 30, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/jquery.countdown.css */
.countdown-show5 .countdown-section {
  width: 19.5%;
}

/* line 33, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/jquery.countdown.css */
.countdown-show6 .countdown-section {
  width: 16.25%;
}

/* line 36, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/jquery.countdown.css */
.countdown-show7 .countdown-section {
  width: 14%;
}

/* line 39, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/jquery.countdown.css */
.countdown-section {
  display: block;
  float: left;
  font-size: 75%;
  text-align: center;
}

/* line 45, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/jquery.countdown.css */
.countdown-amount {
  font-size: 200%;
}

/* line 48, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/jquery.countdown.css */
.countdown-period {
  display: block;
}

/* line 51, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/jquery.countdown.css */
.countdown-descr {
  display: block;
  width: 100%;
}

/* line 4, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/countdown.scss */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* line 10, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/countdown.scss */
.row {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}
/* line 15, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/countdown.scss */
.row .image {
  display: inline-block;
  margin-top: 13vh;
}
/* line 18, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/countdown.scss */
.row .image #countDown {
  background: transparent;
  color: white;
  font-size: 31px;
  border: 0px;
  font-family: Roboto;
}
/* line 25, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/countdown.scss */
.row .image .countdown-period {
  font-size: 15px;
  text-align: center;
}
/* line 29, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/countdown.scss */
.row .image .countdown-section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 12px solid transparent;
  min-width: 23%;
}

@media screen and (max-width: 1000px) {
  /* line 38, /Users/bruger/Desktop/Sweig/sweig.dk/SweigApp/app/assets/stylesheets/countdown.scss */
  .sweig {
    width: 80%;
  }
}
