.row.mt-3.mb-3
  .col-3.text-right#oneRow RÆKKE
  .col-3#aNumberOfRows RÆKKER 
  .col-3.text-right= link_to "<b>V</b><gray>ÆRKER</gray>".html_safe, laes_path(), class: "#{if_active_helper(laes_path())}"
  .col-3= link_to "<b>M</b><gray>ÆRKER</gray>".html_safe, alle_maerker_path(), class: "#{if_active_helper(alle_maerker_path())}"
