#loggedInModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      %h4#myModalLabel.modal-title.text-center.forside-tekst-overskrift Hertil og ikke længere
      .modal-body
        .col-12
          %p Hvis du gerne vil have mulighed for at benytte dig af FØLG, så log in eller opret dig.
      .modal-footer.text-center
        .border-image.d-inline-block
          = link_to "Log in", new_user_session_path(), class: "btn btn-primary"
        .border-image.d-inline-block
          = link_to "Opret dig", new_user_registration_path(), class: "btn btn-primary"
