<div class="col-lg-12">

	<div class="title">
		<h2 class="show-title"><%= @work.title %></h2>
	</div>
	<div class="body">
	<div class="show-body"><%= simple_format( @work.body ) %></div>
	</div>


</div>
