<div id="NotLoggedIn"></div>

<% if current_user %>
<span class="foelger-bar-render">
	<%= render partial: "user_foelger_bar", locals: {user: user} %>
</span>
<% else %>
	<%= render partial: "foelger_not_logged_in", locals: {user: user} %>
<% end %>
