<div class="col-sm-3 col-md-2 sidebar">
  <%= "|" + user.username.parameterize %>
  <ul class="nav nav-sidebar">
    <li class="user-nav-items">
    <%= link_to "Oversigt", user_path(@user), class: "nav-link" %>
    <%= link_to "Gemte", user_saved_works_path(@user), class: "nav-link" %>
      <%= link_to "Opret værk", new_user_work_path(@user), class: "nav-link" %>
    </li>

  </ul>
</div>
