<div class="container-fluid">
	<div class="row user-links-container">
		<div class="col-md-4">
		<%= link_to "Mine", user_path(@user), class: "nav-link text-center modal-header-links #{if_active_link_helper user_path(@user)} #{"active-link" if current_page?(user_path(current_user.friendly_id))}" %>
		</div>
		<div class="col-md-4">

		<%= link_to "Andres", user_saved_works_path(@user), class: "nav-link text-center modal-header-links #{if_active_link_helper user_saved_works_path(@user)}" %>
		</div>
		<div class="col-md-4">

		<%= link_to "Opret værk", new_user_work_path(@user), class: "nav-link text-center modal-header-links #{if_active_link_helper new_user_work_path(@user)}" %>
		</div>

	</div>
</div>
