<%= render partial: "foelger_bar", locals: {user: @user} %>
<%= render partial: "user_navbar", locals: {user: @user} %>
<hr>
<% if @stories.empty? %>
	<h2 class="mt-4 user-work-header">Biblo</h2>
	<div class="row user-work-wrapper pt-4">
		<p class="lead offset-lg-2 col-lg-8 text-center">
			<strong>BIBLO</strong> er siden, hvor du bliver underrettet om dem du følgers udgivelser og andres aktiviteter, der vedrører dig.<br> 
		</p>
	</div>
<% else %>
	<h2 class="mt-4 user-work-header black">Biblo <%= fa_icon "info-circle", data: {toggle: "tooltip"}, title: "BIBLO er siden, hvor du bliver underrettet om dine følgers udgivelser og andres aktiviteter, der vedrører dig." %></h2>
	<div class="biblo-wrapper">
		<%= render partial: "stories", locals: {stories: @stories, stories_length: @stories_length} %>
	</div>
<% end %>

<script type="text/javascript">
	$('[data-toggle="tooltip"]').tooltip();
</script>