<h1 class="username"><%= "|" + @user.username.parameterize %></h1>
<%= render partial: "user_navbar", locals: {user: @user} if is_current_user? %>

<div class="col-lg-12 main">
	
	<% if @published_works.any?  %>
	<h2 class="text-center">Udgivet</h2>
	<hr>
	<%= render partial: "user_works", 
	locals: {works: @published_works, arrow: "down", user: @user} %>
	<% else  %>
	<h2 class="text-center">Udgivelser</div>
		<hr>
		<div class="my-4 text-center lead">Dine udgivelser kan findes i søgefeltet af alle.</div>
		<% end %> 

		<% if @draft_works.any? && is_current_user? %>
		<h2 class="text-center">Kladder</h2>
		<hr>
		<%= render partial: "user_works", 
		locals: {works: @draft_works, arrow: "up", user: @user} %>
		<% else  %>
		<h2 class="text-center">Kladder</h2>
		<hr>
		<p class="my-4 text-center lead">Dine kladder kan kun findes af dig.</div>

			<% end %>
		</div>


