<div class="row">
	<div class="col-md-4 text-center footer-text">FREMTIDSVISION</div>
	<div class="col-md-4 text-center footer-text">COOKIES</div>
	<div class="col-md-4 text-center footer-text">CVR NR: 12387917293</div>
</div>