<div class="offset-sm-3 col-sm-2 icon-frontpage text-center" data-toggle="modal" data-target="#whatIsSweigModal">
  <%= fa_icon "question", id: "WhatIsSweig"%> 
</div>
<div class="col-sm-2 icon-frontpage text-center" aria-expanded="false" data-toggle="collapse" data-target="#searchBar">
  <%= fa_icon "search", id: "FrontPageSearch" %>
</div>
<div class="col-sm-2 icon-frontpage text-center" data-toggle="modal" data-target="#myModal">
  <%= fa_icon "user-o", id: "FrontpageUserButton"%> 
</div>