<div class="row">
<%= link_to "Hvorfor", why_path, class: "large-2 column float-left text-center primary button" %>
  <div class="large-2 column float-left text-center primary button">HVORDAN</div>
  <%= link_to "Sweig", root_path, class: "large-2 column float-left text-center primary button", style: "color: white" %>
  <%= link_to "Opret", new_user_path, class: "large-2 column float-left text-center primary button" %>
  
</div>
