	<div class="container frontpage-navbar-wrapper">
		<div class="row">
			<div class="col-md-4 text-center"><%= link_to "NYT", nil %></div>
			<div class="col-md-4 text-center"><%= link_to "LÆS", nil %></div>
			<div class="col-md-4 text-center"><%= link_to "BENYT", nil %></div>
		</div>	
	</div>
