<div class="newest-works">
<% works.each do |work| %>
	<div class="newest-work">
	<%= link_to "| " + work.user.username, user_path(work.user.id), class: "small" %><br>
	<hr>
		<%= link_to user_work_path(work.user.id, work) do %>
			<%= truncate(work.body, length: 30) %>
		<% end %>
	</div>		

<% end %>
</div>