
<div class="modal-content">
  <% if user_signed_in? %>
  <div class="modal-header">
    <div class="modal-header-links">
      Du er logget ind
    </div>
    </div>
    <div class="modal-body">
      <div class="modal-body-inner">
        <%= link_to "Log ud", destroy_user_session_path(), method: :delete, class: "btn btn-primary" %>
        <%= link_to "Gå til MIT", user_path(current_user), class: "btn btn-secondary" %>
      </div>
    </div>

  <% else %>

  <div class="modal-header">
    <ul class="nav nav-pills final-login">
      <li>
        <a class="modal-header-links active" data-toggle="tab" href="#signUpField">Opret</a>
      </li>
      <li class="nav-divider">
        |
      </li>
      <li>
        <a class="modal-header-links " data-toggle="tab" href="#signInField">Log ind</a>
      </li>
    </ul>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>


  <div class="tab-content clearfix">
    <div class="modal-body-inner tab-pane in active" id="signUpField">
      <h4 class="modal-title">Opret</h4>

      <%= render partial: "shared/form/create_user" %>
      
    </div><!-- #SignUp -->
    <div class="modal-body-inner tab-pane fade" id="signInField">
      <h4 class="modal-title">Log ind</h4>

      <%= render partial: "shared/form/log_ind" %>

    </div><!-- #SignIn -->
  </div>

  <% end %><!-- if current_user -->

</div><!-- modal-content -->


