<div class="" data-toggle="modal" data-target="#myModal">
	<%= fa_icon "user-o", id: "FrontpageUserButton"%>	
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog new-user-modal" role="document">
  <%= render partial: "shared/sign_in_or_create_user_form" %>
  </div>
</div>
</div><!-- row finished -->
