
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog new-user-modal" role="document">
  <%= render partial: "shared/sign_in_or_create_user_form" %>
  </div>
</div>
</div><!-- row finished -->
