<div class="modal fade" id="whatIsSweigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog what-is-sweig-modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<ul class="nav nav-pills">
					<li><a class="modal-header-links active" href="#2a" data-toggle="tab">Hvorfor</a>
					</li>
					<li class="nav-divider">
					  |
					</li>
					<li><a class="modal-header-links" href="#3a" data-toggle="tab">Udgivelser</a>
					</li><li class="nav-divider">
					  |
					</li>
					<li><a class="modal-header-links" href="#4a" data-toggle="tab">Læse-app</a>
					</li>
				</ul>
			</div>
			<div class="modal-body">
				<div class="modal-body-inner" id="SignUp">
					<div class="tab-content clearfix">
						<div class="tab-pane active" id="2a">
							<p class="lead">
								Sweig er bygget for at udbrede litteraturen i verden.<br> Som arena, som platform, som hjemsted for det skrevne ord. 
							</p>
						</div>
						<div class="tab-pane" id="3a">
							<p class="lead"><strong>15. september</strong><br>
							Udkommer den første samling af værker fra sweig i fysisk form</p>

							<hr>
							<p>
							<p class="lead"><strong>Udvælgelse</strong><br>
								Udvælgelsen af værker til første udgivelse sker gennem afstemning her på sweig fra d. 17.-31. august. 
							<hr>
							</p>
							<p class="lead"><strong>Tilmelding og køb</strong><br>
								I forlængelse af udvælgelsen bliver det muligt at købe udgivelsen, som så vil blive sendt til din adresse.
								<hr>
							</p>
						</div>
						<div class="tab-pane" id="4a">
							<p class="lead">
							I løbet af september vil sweig også være mulig at tilgå fra en læse-app.
							</p>
						</div>

					</div>
				</div>


				<hr></hr>


			</div>
		</div>
	</div><!-- row finished -->
</div>
</div>
