<div class="modal fade" id="whatIsSweigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog what-is-sweig-modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<ul  class="nav nav-pills">
					<li><a class="modal-header-links active" href="#2a" data-toggle="tab">Hvorfor</a>
					</li>
					<li class="nav-divider">
					  |
					</li>
					<li><a class="modal-header-links" href="#3a" data-toggle="tab">Udgivelser</a>
					</li>
				</ul>
			</div>
			<div class="modal-body">
				<div class="modal-body-inner" id="SignUp">
					<div class="tab-content clearfix">
						<div class="tab-pane active" id="2a">
							<p class="lead">
								Sweig er bygget for at udbrede litteraturen i verden
							</p>
						</div>
						<div class="tab-pane" id="3a">
							<p>
								Udvælgelsen til første udgivelse sker gennem afstemning
							</p>
							<h3>1. september</h3>
						</div>
					</div>
				</div>


				<hr></hr>


			</div>
		</div>
	</div><!-- row finished -->
</div>
</div>
