/
  <li class="page-item">
  <haml_loud> link_to_unless current_page.last?, raw(t &#39;views.pagination.next&#39;), url, rel: &#39;next&#39;, remote: remote, class: &#39;page-link&#39; </haml_loud>
  </li>
