/
  <li class="page-item">
  <haml_loud> link_to_unless current_page.first?, raw(t &#39;views.pagination.previous&#39;), url, rel: &#39;prev&#39;, remote: remote, class: &#39;page-link&#39; </haml_loud>
  </li>
