<div class="row error-page">
  <div class="col-sm-6 col-xs-12 text-center">
    <%= image_tag "normal-pig.jpg", class: "d-inline-block pig" %>
  </div>
  <div class="col-sm-6 col-xs-12 mt-4">
    <h2 class="text-center-tab-d">500</h2>
    <h2 class="text-center-tab-d">Hov... Vent lige lidt</h1>
    <p class="text-center-tab-d">Du har gjort noget, som du ikke skulle!</p>
    
    <div class="text-center-tab-d">
      <div class="border-image d-inline-block ">
        <%= link_to "Gå til tilfældigt værk", random_work_path(), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
