
<div class="row">
  <div class="col-sm-6 col-12">
    <%= image_tag "normal-pig.png" %>
  </div>
  <div class="col-sm-6 col-12">
    <h1>Hov... Vent lige lidt</h1>
    <p>Den side, som du leder efter, var ikke mulig at finde.</p>
    
      <div class="border-image d-inline-block "> 
        <%= link_to "Gå til tilfældigt værk", random_work_path(), class: "btn btn-primary" %>
      </div>
  </div>
</div>

