/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 */
@import "social-share-button";
@import "bootstrap";
@import "font-awesome";

h1, h2, h3, h4, h5, h6 {
	font-family: Roboto;
}
html {
	height: 100%;
}

body {
	min-height: 100%;
}
p {
	word-break: keep-all;
}

.soege-felt {
	text-align: center;
	text-decoration: none;
}
#error_explanation {
	h2 {
		text-align: center;
		font-size: 1.25rem;
	}
	ul li {
		list-style: none;
		text-align: center;
		margin-left: 0;
	}
}
.btn-primary {
	text-transform: uppercase;
	background-color: white!important;
	color: black;
	font-family: Roboto;
	letter-spacing: 2px;
	border-color: transparent;
	cursor: pointer;

}
.btn-primary:hover {
	border-color: transparent;
	color: black;
	text-decoration: underline;
}

.border-image {
	margin-top: 10px;
	display: inline-block;
	background: url(image-path("knap-baggrund.png"));
	padding: 6px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}

.lille-sweig-tilbage {
	margin-top: -2px;
	opacity: 0.3;
	position: absolute;
	transition: opacity .4s ease-in-out;
	z-index: 99999;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	&:hover {
		opacity: 1;
	}
}


.opret-log-in-wrapper {
	margin-top: calc(70px + 2vh);
	.log-in-body {
		padding-top: calc(40px + 4vh);
	}
}
.tekst-wrapper-forside {
	margin-top: calc(70px + 2vh);
}

.frontpage-navbar-wrapper {
	margin-top: 20px;
	a {	
		font-weight: 1000;
		font-size: 20px;
		letter-spacing: 4px;
		color: black;
	}

	.active {
		text-decoration: underline;
	}
}

.frontpage-menu-wrapper {
	margin-top: 20px;
	a {	
		padding-right: 20px;
		font-weight: 1000;
		font-size: 20px;
		letter-spacing: 4px;
		color: black;
	}

	.active {
		text-decoration: underline;
	}

}

.forside-bil-tekst-wrapper {
	margin-top: 4vh;
	.forside-bil {
		text-align: center;
		img.active {
			display: inline-block;
		}
	}
}

.forside-tekst-overskrift {
	color: black;
	cursor: pointer!important;
	font-weight: 1000;
	font-size: 15px;
	letter-spacing: 4px;
	margin-top: 30px; 
	a {
		font-family: Roboto;
	}
	.active {
		text-decoration: underline;
		font-weight: inherit!important;
	}
}

.tekst-forside {
	padding-top: 25px;
}

.front-page-background-image {
	background-image: url(image-path("baggrund-sweig.png"));
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.logo-wrapper {
	position: relative;
	width: 100%;
	
	.logo-text {
		width: 75%;
		margin: auto;
		text-align: center;
		height: auto;
		position: relative;
		h1 {
			margin-top: 4vh;
			position: relative;
			font-size: 4rem;
			z-index: 909;

		}	
	}
}

.icon-frontpage {
	position: relative;
	font-size: 34px;
	z-index: 993;
	cursor: pointer;
	&:hover {
		transition: color .4s ease-in-out;
		-ms-transition: color .4s ease-in-out;
		-webkit-transition: color .4s ease-in-out;
		color: black;
	}
}

.front-page-search-active {
	border: 1px solid black;
	border-radius: 100%;
	padding: 8px;
}
.blue-color {
	color: #4c7fc3
}

.orange-color {
	color: #d86b46;
}

.green-color {
	color: #4a5953
}
.logo-background {
	width: auto;
	margin-top: 50px;
	position: relative;
}


.new-user-modal {
	margin-top: 6vh;
}
.what-is-sweig-modal {
	position: relative;
    width: auto;
}
.nav-pills > li > .active {
	text-decoration: underline; 
}
.modal-header-links, .search-dropdown-links {
    text-transform: uppercase;
    color: black;
}
.modal-header-links {
    margin: 10px;
}
.search-dropdown-li {
	margin-top: 25px;
}

#whatIsSweigModal .what-is-sweig-modal {
    max-width: 800px;
    top: 180px;
}

.search-field {
    width: 25%;
    margin: 0 auto;
    min-width: 400px;
}

.search-header {
}

.search-result-wrapper, .works-show-wrapper {
	padding: 5px 10px;
	.search-result, .works-show-box {
	    padding: 10px;
	    border: 1px solid #e8e8e8;
	    p {
	    	color: black;
	    }
	}
}

.hjoerne-forside {
    position: absolute;
    left: 0;
    top: 0;
}

@media screen and (max-width: 576px) {
	.icon-frontpage {
		width: 33%;
		text-align: center;
	}

	.logo-background {
		width: 100%;
	}
}