/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 */

@import "bootstrap";
@import "font-awesome";

html {
	height: 100%;
}

body {
	min-height: 100%;
}

.roboto-mono {
	font-family: "Roboto Mono";
}
.logo-wrapper {
	position: relative;
	width: 100%;
	
	.logo-text {
		width: 400px;
		margin: auto;
		text-align: center;
		height: auto;
		position: relative;
		h1 {
			position: relative;
			font-size: 4rem;
			font-family: "Roboto Mono";
			z-index: 999;

		}	
	}
}

#FrontpageUserButton {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 34px;
	color: lighten(black, 40%);
	z-index: 999999;
	cursor: pointer;
	&:hover {
		transition: color .4s ease-in-out;
		-ms-transition: color .4s ease-in-out;
		-webkit-transition: color .4s ease-in-out;
		color: black;
	}
}
#WhatIsSweig {
	position: absolute;
	left: 20px;
	top: 8px;
	font-size: 38px;
	color: lighten(black, 40%);
	z-index: 999999;
	cursor: pointer;
	&:hover {
		transition: color .4s ease-in-out;
		-ms-transition: color .4s ease-in-out;
		-webkit-transition: color .4s ease-in-out;
		color: black;
	}
}

#LogoBackground {
	position: relative;
	margin-top: 10vh;
}


.new-user-modal {
	margin-top: 12vh;
}