/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 */
@import "social-share-button";
@import "bootstrap";
@import "font-awesome";

html {
	height: 100%;
}

body {
	min-height: 100%;
}
p {
	word-break: keep-all;
}

.front-page-background-image {
	background-image: url(image-path("baggrund-sweig.png"));
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.roboto-mono {
	font-family: "Roboto Mono";
}
.logo-wrapper {
	position: relative;
	width: 100%;
	
	.logo-text {
		width: 75%;
		margin: auto;
		text-align: center;
		height: auto;
		position: relative;
		h1 {
			margin-top: 4vh;
			position: relative;
			font-size: 4rem;
			font-family: "Roboto Mono";
			z-index: 909;

		}	
	}
}

.icon-frontpage {
	position: relative;
	font-size: 34px;
	z-index: 993;
	cursor: pointer;
	&:hover {
		transition: color .4s ease-in-out;
		-ms-transition: color .4s ease-in-out;
		-webkit-transition: color .4s ease-in-out;
		color: black;
	}
}

.front-page-search-active {
	border: 1px solid black;
	border-radius: 100%;
	padding: 8px;
}
.blue-color {
	color: #4c7fc3
}

.orange-color {
	color: #d86b46;
}

.green-color {
	color: #4a5953
}
#LogoBackground {
	width: auto;
	margin-top: 50px;
	position: relative;
}


.new-user-modal {
	margin-top: 6vh;
}
.what-is-sweig-modal {
	position: relative;
    width: auto;
}
/* gå til MIT på forsiden */
.user-logged-in-entrance, .sweig-hidden {
    position: absolute;
    z-index: 996;
    top: 160px;
    width: 100%;
    text-align: center;
    h2 {
    	display: inline-block;
    	font-size: 100px;
    	font-family: "Roboto Mono";
    	color: white;
    }
    h5	{
    	color: white;
    	display: inline-block;
    	font-size: 50px; 
    	font-family: "Roboto Mono";
    }
}
.nav-pills > li > .active {
	text-decoration: underline; 
}
.modal-header-links, .search-dropdown-links {
    text-transform: uppercase;
    font-family: "Roboto Mono";
    color: black;
}
.modal-header-links {
    margin: 10px;
}
.search-dropdown-li {
	margin-top: 25px;
}

#whatIsSweigModal .what-is-sweig-modal {
    max-width: 800px;
    top: 180px;
}

.search-field {
    width: 25%;
    margin: 0 auto;
    min-width: 400px;
}

.search-header {
	font-family: "Roboto Mono";
}

.search-result-wrapper, .works-show-wrapper {
	padding: 5px 10px;
	.search-result, .works-show-box {
	    padding: 10px;
	    border: 1px solid #e8e8e8;
	    p {
	    	color: black;
	    }
	}
}

.hjoerne-forside {
    position: absolute;
    left: 0;
    top: 0;
}

@media screen and (max-width: 576px) {
	.icon-frontpage {
		width: 33%;
		text-align: center;
	}

	#LogoBackground {
		width: 100%;
	}
	.user-logged-in-entrance {
		top: 108px;
		h5 {
			font-size: 45px;
		}
		h2 {
			font-size: 89px;
		}
	}
}