@import "jquery.countdown";


html{
	width: 100%;
	height: 100%;
}

body {
	border-box: box-sizing;
	border: 10px solid white;
}
.row {
	position: relative;
	width: 100%;
	height: 95vh;
	.image {
		position: absolute;
		left: 50%;
		margin-left: -197px;
		top: 13vh;
		width: 393px;
		height: 389px;
		#countDown {
			background: transparent;
			color: white;
			min-width: 340px;
		    position: absolute;
		    top: 147px;
		    left: 25px;
		    font-size: 31px;
		    border: 0px;
		    font-family: Roboto;
		}
		.countdown-period {
			font-size: 15px;
			text-align: center;
		}
		.countdown-section {
			box-sizing: border-box;
			border: 12px solid transparent;
			min-width: 23%;
		}
	}
}