// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.questions-wrapper {
	margin: 20px 0px;
	padding: 10px 20px; 
	cursor: pointer; 
	color: black;
	box-sizing: border-box;
	&:hover {
		color: black;
	}

}
.already-voted {
	margin-bottom: 8px;
	padding: 10px 10px;
	padding-top: 20px;
}
.pink {
	background-color: #fff6ff;
	padding: 3px;
	font-family: 'Libre Baskeville';
	margin-bottom: 10px;

}
.border-thin {
	border: 1px solid black;
}
.question-wrapper {
	.col-lg-10 h2 {
		font-family: Roboto; 
		text-transform: uppercase;
	}
}
.stem-forklaring {
	font-family: 'Libre Baskeville';
	border: 1px solid gray;
}
.without-border {
	border: none!important;
}
.modal-content {
	border-radius: 0px!important;
}

.question-text-area {
	height: 5vh;
	min-height: 300px;
}

.question-headline {
	font-family: Roboto;
	text-transform: uppercase;
	font-size: calc(10px + 1vw);
	font-weight: 200;
	letter-spacing: 2px;
}

.user-votes {
	text-align: center;
	.vote-result {
		cursor: crosshair;
	}
	h4 {

		text-align: center;
		display: inline-block;
		width: 100px;
		height: 100px;
		line-height: 100px;
		border: 1px solid black;
		border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		-o-border-radius: 100%;
	}
}














