// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.questions-wrapper {
	margin: 20px 0px;
	padding: 10px 20px; 
	cursor: pointer; 
	color: black;
	box-sizing: border-box;
	&:hover {
		color: black;
	}

}


.question-wrapper {
	.col-lg-10 h2 {
		font-family: Roboto; 
		text-transform: uppercase;
	}
}
.stem-forklaring {
	font-family: 'Libre Baskeville';
	border: 1px solid gray;
}
.without-border {
	border: none!important;
}
.modal-content {
	border-radius: 0px!important;
}

.question-text-area {
	height: 5vh;
	min-height: 300px;
}

.question-headline {
	font-family: Roboto;
	text-transform: uppercase;
	font-size: calc(10px + 1vw);
	font-weight: 200;
	letter-spacing: 2px;
}

















