// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.questions-wrapper {
	margin: 20px 0px;
	padding: 10px 20px; 
	cursor: pointer; 
	color: black;
	&:hover {
	border: 1px solid black;
	}

}

.question-wrapper {

}
.modal-content {
	border-radius: 0px!important;
}





















