
@import "bootstrap";
@import "font-awesome";

.hide-it {
	display: none;
}
a {
	color: black;
}
html {
	height: 100%;
}

body {
	min-height: 100%;
}

.form-outer {
	height: 100%;
	position: relative;
}


.title  {
	text-align: center; 
	margin-top: 10vh;
	input, .show-title {
	    width: 40%;
	    min-width: 400px;
	    height: 40px;
	    margin: auto;
	    font-size: 30px;
	    border: none;
	}
	input {
	    border-bottom: 1px solid #424242;
	}
}

.body {
	margin-top: 6vh;
	text-align: center;
	textarea, .show-body {
		margin: auto;
	    border: none;
	    width: 60%;
	    height: 40vh;
	    font-size: 1.2em;
	    p {
	    	text-align: left;
	    }
	}
}

.form-save {
	margin-top: 2vh;
	text-align: center;
}
textarea:focus, input:focus{
    outline: none;
}


.show-navbar {
	overflow: hidden;
	height: 40px;
	.show-navbar-inner {
		margin-right: 35px;
		margin-left: 15px;
		.social-icons {
		    margin-top: 9px;
		    margin-right: 5px;
		    margin-left: 5px;
		    font-size: 24px!important;
		}

	}
}

#NavbarToggle {
	position: absolute;
	z-index: 99999;
	right: 10px; 
	font-size: 40px;
	cursor: pointer; 

}

.rotatedefault {
	transition: transform 0.4s linear;
	transition: -webkit-transform 0.4s linear;
	transition: -ms-transform 0.4s linear;
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.rotate180deg {
	transition: transform 0.4s linear;
	transition: -webkit-transform 0.4s linear;
	transition: -ms-transform 0.4s linear;
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.placeholder a {
	color: black;
	text-decoration: underline;
}

.work-show-outer {
	padding: 0;
}

.modal-body-inner {
	padding: 30px;
}


.modal-header .nav-tabs {
	border-bottom: none;
	.close {
		cursor: pointer;
	}
	li {
		padding-top: 15px;
    	margin-left: 10px;
	    a {
		    cursor: pointer;
		    padding: 10px;
		}
	}
}

.nav-tabs> li > .active{
    font-weight: 800;
    cursor: default;
}

.frontpage-nav {
    width: 75%;
    position: relative;
    margin: 0 auto;
}
.green-icon {
	color: lighten(green, 20%);
	&:hover {
		transition: color .5 linear;
		-ms-transition: color .5 linear;
		-webkit-transition: color .5 linear;
		color: lighten(red, 20%);
	}
}
.save-icon {
    margin-top: 3px!important;
}
span.divider {
    float: right;
    padding: 8px 10px;
}