
@import "min-bootstrap";
@import "font-awesome";
@import "search-placeholder";
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin-bottom: 30px;
	font-family: 'Libre Baskeville';
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Roboto;
}
a {
	font-family: Roboto;
	&:hover {
		color: black;
		text-decoration: underline!important;
	}
}
#new_work, .edit_work, .new_work {
	width: 100%;
}

.pink {
	background-color: #fff6ff;
}
.maerke {
    line-height: 36px;
    padding: 10px;
    border: 1px solid black;
    margin: 0px 2px;	
    background-color: white;

}

.maerke-mobil {
    display: block;
    margin: 2px 4px;
    float: left;
    padding: 2px;
    line-height: 26px;
}
/* TINY MCE */
.mce-panel, .mce-btn {
	background-color: white!important;
}

#tinymce *{
	font-family: 'Libre Baskeville'!important;
}
.url {
	text-decoration: underline;
	cursor: pointer;
}

.show-url {
	background-color: #fff6ff;
	word-break: break-all;
}
.btn-secondary {
	cursor: pointer;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	color: black!important;
	border: 1px solid black;
	text-transform: uppercase;
}

.btn-primary {
	padding-top: 10px;
	text-transform: uppercase;
	background-color: white!important;
	color: black;
	font-family: Roboto;
	letter-spacing: 2px;
	border-color: transparent;
	cursor: pointer;

}
.btn-primary:hover {
	border-color: transparent;
	color: black;
	text-decoration: underline;
}

.tooltip-inner {
	border: 1px solid #424242;
	background-color: white;
	color: black;	
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
  font-size: 1.2rem;
  line-height: 1.2;

  font-family: 'Libre Baskeville';
}

.lead {
	font-family: Roboto;
}
.hide-it {
	display: none;
}
a {
	color: black;
}
html {
	height: 100%;
}

body {
	min-height: 100%;
}

.body textarea {
	overflow: scroll!important;
}
p {

	font-family: 'Libre Baskeville';
}

#markInfo {
	opacity: 0.3;
	cursor: pointer;
	font-size: 1.4rem;
	height: 25px;
	transition: opacity .4s linear;
	-o-transition: opacity .4s linear;
	-moz-transition: opacity .4s linear;
	-webkit-transition: opacity .4s linear;
	&:hover {
		opacity: 1;
	}
}
.bootstrap-tagsinput {
	height: 115px;
	margin: 0 5%!important;
	width: 90%;
	float: left;
	.tag-info {
		font-family: 'Libre Baskeville';
	}
	input {
		position: absolute;
		bottom: 0;
		left: 0;
		text-transform: uppercase; 
		width: 100%;
		text-align: center!important;
		outline: none!important;
		border-top: none!important;
		border-left: none!important;
		border-right: none!important;
		font-size: 16px!important;
		line-height: 10px!important;
		padding: 10px 12px!important;
	}
}

.label-info {
	font-family: Roboto;
	text-transform: uppercase;
	display: inline-block;
	width: auto;
    border: 1px solid black;
    padding: 10px;
    span {
    	display: inline-block;
        cursor: pointer;
        &:before {
        	content: "x";
        	font-size: 15px;
        	padding: 2px 3px;
        	color: red;
        }
    }
}
.margin-show {
	margin-right: 10px;
}
.border-image {
	display: inline-block;
	background: url(image-path("knap-baggrund.png"));
	padding: 6px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}

.form-control {
	border-radius: 0px!important;
}
.form-control:focus {
	border-color: black!important;
}
.form-outer {
	height: 100%;
	position: relative;
}


.title  {
	text-align: center; 
	margin-top: 10vh;
	input, .show-title {
		font-family: 'Libre Baskeville';
	    width: 90%;
	    max-width: 1000px;
	    margin: auto;
	    font-size: 30px;
	    border: none;
	    word-break: break-word;
	}
	input {
	    border-bottom: 1px solid #424242;
	}
}

.body {
	margin-top: 6vh;
	text-align: center;
	textarea, .show-body {
		margin: auto;
	    width: 60%;
	    height: 60vh!important;
	    font-size: 1.2em;
	    p {
	    	text-align: left;
	    }
	}
}

.form-save {
	input {
		cursor: pointer;
	}
	margin: 4vh;
	text-align: center;
}
textarea:focus, input:focus{
    outline: none;
}
.border-bottom {
    border-bottom: 1px solid black;
}
.show-navbar {
	background-color: white;
    position: fixed;
	overflow: hidden;
	height: inherit;
    width: 100%;
	.show-navbar-inner {
		margin-right: 35px;
		margin-left: 15px;
		.social-icons {
		    margin-top: 9px;
		    margin-right: 5px;
		    margin-left: 5px;
		    font-size: 24px!important;
		    a {
		    	color: black;
		    }
		}
		.exit-icon {
			margin-top: 2px;
			font-size: 21px;
			color: black;
		}

	}
}

#NavbarToggle {
	position: fixed;
	z-index: 99999;
	right: 10px; 
	font-size: 40px;
	cursor: pointer; 

}

.rotatedefault {
	transition: transform 0.4s linear;
	transition: -webkit-transform 0.4s linear;
	transition: -ms-transform 0.4s linear;
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.rotate180deg {
	transition: transform 0.4s linear;
	transition: -webkit-transform 0.4s linear;
	transition: -ms-transform 0.4s linear;
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.placeholder a {
	color: black;
	text-decoration: underline;
}

.work-show-outer {
	padding: 0;
}

.modal-body-inner {
	padding: 30px;
}

.modal-dialog {
	margin-top: 10vh;
	
}
.modal-content {
	font-size: 1.2em;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
}

.modal-header .nav-tabs {
	border-bottom: none;
	.close {
		cursor: pointer;
	}
	li {
		padding-top: 15px;
    	margin-left: 10px;
	    a {
		    cursor: pointer;
		    padding: 10px;
		}
	}
}

.active-mit {
	cursor: pointer;
	text-decoration: underline;
}
.nav-tabs> li > .active{
    font-weight: 800;
    cursor: default;
}

.frontpage-nav {
    width: 75%;
    position: relative;
    margin: 0 auto;
}
.green-icon {
	color: lighten(green, 20%);
	&:hover {
		transition: color .5 linear;
		-ms-transition: color .5 linear;
		-webkit-transition: color .5 linear;
		color: lighten(red, 20%);
	}
}
.red-icon {
	color: lighten(red, 20%);

}
.save-icon {
    margin-top: 2px!important;
}
span.divider {
    float: right;
    padding: 5px 10px;
    font-size: 19px;
}

.notice-exit {
	cursor: pointer;
}

.opret-wrapper {
	padding: 0;
}
.opret-vaerk {
	border-color: transparent;
	padding: .5em 1em;
	background-image: url(image-path("knap-baggrund.png"));
	color: white;
    display: block;
    text-align: center;
    font-family: Roboto;
    text-transform: uppercase;
	&:hover {
		color: white;
		text-decoration: underline;
	}		
	
}

.mit-close {
	top: 37px;
	background: transparent;
	z-index: 99;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.mit-menu {
	z-index: 999;
	top: 43px;
	position: absolute;
	width: 30%;
	min-width: 400px;
	a {
		background-color: white;
	}
}

.modal-header-links {
    width: 98%;
    max-width: 500px;
    margin: 10px 0;
    border: 1px solid black;

    background-color: white;
}
.show-work-navbar-btn {
	padding-top: 6px;
	font-family: Roboto;
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: black;
}
.show-work-navbar-btn:not(:last-child) {
	padding-right: 14px;
}
.mit-sign {
    &:hover {
    	text-decoration: none;
    }
}
.min-alert p {
	margin: 0;
    line-height: 39px;
    font-family: Roboto;
}
.modal-header-links.active {
	text-decoration: underline;
}

.user-links-container {
	padding-top: 40px;
}
.username {
	position: relative;
	text-align: center;
	padding-top: 20px;
}
.work-show-not-logged-in-text {
	margin-bottom: 0px;
}
.fa-bars {
	font-size: 28px;
	padding: 3px;
	padding-top: 5px;
}
@media (max-width: 991px) { 

	.mit-sign:after {
		display: none;
	}




}

@media screen and (min-width: 1300px) {

}
@media screen and (max-width: 500px) {
	.mit-menu {
		min-width: 99%;
	}
	#NavbarToggle {
	    font-size: 50px;
	    margin-right: 13px;
	}
	.show-navbar {
		height: 42px;
		.show-navbar-inner {
		    margin-right: 60px;
		}
	}
	.work-show-outer .title {
		margin-top: 18vh;

	}
	.title {
		overflow: hidden;	
			.show-title {
		    width: 80%;
		    min-width: 0px;
		}   
	} 

	.body .show-body {
		width: 90%;
	}
}