@import 'imports/mixins';
@import 'imports/defaults';

$navbar_height: 30px;

.display-n {
  display: none; 
}
#oneRow, #aNumberOfRows {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.visibility_h {
  opacity: 0!important;
}

.hidden-ballademager {
  width: $navbar_height;
}
.active {
  text-decoration: underline;
}

.close-icon {
  padding-left: 8px;
  height: 24px;
}
.close-user { /* Should be underneath the close button for when a work i shown */ 
  z-index: 99;
}
.close-text-icon {
  z-index: 999;  
  opacity: 1;
}
.close-text-icon:hover {
  opacity: 0.8;
}

.modal-text-view {
  @include flex;
  @include flex-direction(column);
  height: 100%;
  background-color: white;
  top: $navbar_height;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 999;

  .text-wrapper {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    .text-body {
      margin: 0 auto;
      padding: 0 10px; 
      max-width: 960px;
      padding-bottom: 100px;
    }
    .text-title {
      margin: 50px auto 30px auto;
      word-break: break-word;
    }
  }
}

nav {
  position: fixed;
  height: $navbar_height; 
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
  .nav-image {
    @include flex;
    @include justify-content(space-between);
    @include align-items(center);
    height: 100%;
    width: 100%;
    max-width: 100%;
    .username {
      color: #f3f3f3;
      font-size: 21px;
      padding: 0 19px;
    }
  }
}
.read-grid {
  @include transition(opacity .3s linear);
  opacity: 1;
  padding-top: $navbar_height;
}


.item {
  @include transition(opacity .6s linear); // to .high-opacity
  visibility: visible;
  padding: 10px 10px 10px 10px; 
  box-sizing: border-box;
  border: 1px solid black;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  a {&:hover {
    text-decoration: none!important;
  }}
  h5 {
    word-break: break-all; // For firefox
    word-break: break-word;
  }
  h6 {
    font-size: 0.9em;
    a {
      @include transition(border-bottom .3s linear);
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid black;
      }
    }
  }
  
}

.hide-w-opacity {
  opacity: 0!important;
}

.high-opacity {
  opacity: 0.2!important;
}

