/* READ SITE */
#oneRow, #aNumberOfRows {
  cursor: pointer;
}
.active {
  text-decoration: underline;
}
gray {
  color: lighten(black, 60%);
  &:hover {
    color: black;
  }
}
.read-grid {
  margin-bottom: 100px;
  
  .read-username {
    line-height: 20px;
  }
}
.read-bottom {
  overflow: hidden;
  height: 300px;

}

.item {
    visibility: hidden;
    border: 1px solid black;
    opacity: 1;
    padding: 10px 10px 10px 10px; 
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    a {&:hover {
      text-decoration: none!important;
    }}
    
  }
