@import 'imports/mixins';
@import 'imports/defaults';

$navbar_height: 30px;

/* READ SITE */
#oneRow, #aNumberOfRows {
  cursor: pointer;
}
.active {
  text-decoration: underline;
}

.close-text-icon {
  right: $navbar_height;
  top: $navbar_height;
  width: $navbar_height;
  height: $navbar_height;
  background-color: transparent;
  opacity: 1;
}
.close-text-icon:hover {
  opacity: 0.8;
}
.close-text-icon:before, .close-text-icon:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: $navbar_height;
  width: 2px;
  background-color: white;
}
.close-text-icon:before {
  transform: rotate(45deg);
}
.close-text-icon:after {
  transform: rotate(-45deg);
}
.modal-text-view {
  position: absolute;
  left: 0;
  top: $navbar_height;
  width: 100%;
  background-color: white;
  z-index: 999;
  .text-wrapper {
    min-height: 100%;
    min-height: 100vh;
    max-width: 960px;
    width: 80%;
    margin: 0 auto;
    .text-title {
      margin: 50px 0 20px 0;
    }
    .text-body {

    }
  }
}
nav {
  position: fixed;
  height: $navbar_height; 
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
  .nav-image {
    @include flex;
    @include justify-content(center);
    @include align-items(center);
    display: inline-block;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
}
.read-grid {
  padding-top: $navbar_height;
}

.item {
  @include transition(opacity .6s linear); // to .high-opacity
  visibility: visible;
  padding: 10px 10px 10px 10px; 
  box-sizing: border-box;
  border: 1px solid black;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  a {&:hover {
    text-decoration: none!important;
  }}
  h5 {
    word-break: break-all; // For firefox
    word-break: break-word;
  }
  h6 {
    font-size: 0.9em;
  }
  
}

.high-opacity {
  opacity: 0.2!important;
}

