// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.works-show-box {

}


.works-show-box {
  border: 1px solid black;
  .work-text {
    word-break: break-all;
    &:hover {
      color: black;
    }
  }
  .lead {
    margin-top: 10px;
  }
}

