:css
  @import url('https://fonts.googleapis.com/css?family=Roboto');
%table{:style => "position: absolute; width: 100%; height: 100%;"}
  %tr{:style => "width: 100%; height: 50px;"}
    %td{:colspan => "100%"}
      = image_tag(attachments['email-haeder.png'].url, style: "width: 100%;")
  %tr{:style => "width: 100%; height: 50px;"}
    %td{:colspan => "100%"}
      %h2{:style => "font-family: 'Roboto'; text-align: center; letter-spacing: 2px; color: #424242; text-transform: uppercase;"}
        Hej - #{@username}!
      %h4{:style => "font-family: 'Roboto'; text-align: center; letter-spacing: 2px; color: #424242; text-transform: uppercase;"}
        Du har bedt om muligheden for at ændre dit kodeord. Den mulighed får du nu ved at trykke på knappen underneden.
      %hr/
      %p{:style => "font-size: 13px; font-family: 'Roboto'; text-align: center; padding: 0px 80px; letter-spacing: 1px; color: #969696;"}
        Hvis du ikke har bedt om dette, så ignorer denne mail. Dit kodeord ændres ikke, hvis knappen underneden forbliver uberørt.
  %tr{:style => "width: 50%; height: 20px"}
    %td{:colspan => "30%", :style => "text-align: center; border: 10px solid #424242; font-size: 20px; text-transform: uppercase; font-family: Roboto"}= link_to 'SKIFT ADGANGSKODE', edit_password_url(@resource, reset_password_token: @token), style: "color: #424242; text-align: center; padding: 20px 20px; "
  %tr{:style => "width: 100%; height: 50px;"}
    %td{:colspan => "100%"}
      = image_tag(attachments['email-haeder-omvendt.png'].url, style: "width: 100%;")
