<nav> 
  <div #navbar_inner [class.navbar-animation]="loading" [ngStyle]="{'background-image': 'url(' + navbar_image_url + ')'}" class="nav-image">
    <div *ngIf="!selected_work && !user_choosen" class="username hidden-ballademager" [innerHTML]="getContentIfSearchEmpty()"> </div>
    <div *ngIf="!selected_work && !user_choosen" (click)="showSearchField()" [class.active-search-icon]="show_search_field" class="search-icon"></div>
    <div *ngIf="!selected_work && !user_choosen" class="hidden-ballademager"></div>

    <!-- work show -->
    <div *ngIf="selected_work" class="cursor-p close-text-icon" (click)="closeText()">
      <img class="close-icon" [src]="close_icon"/>
    </div>
    <div *ngIf="selected_work" (click)="selectUser()" class="text-center username cursor-p">{{selected_work.username}}</div>
    <div *ngIf="selected_work" class="hidden-ballademager"></div>

    <!-- user selected -->
    <div *ngIf="user_choosen && !selected_work" class="close-user cursor-p" (click)="closeUser()">
      <img class="close-icon" [src]="close_icon"/>
    </div>
    <div *ngIf="user_choosen && !selected_work" class="text-center username">{{user_choosen.name}}</div>
    <div *ngIf="user_choosen && !selected_work" class="hidden-ballademager"></div>
  </div> 
</nav>
