<nav> 
<div [ngStyle]="{'background-image': 'url(' + navbar_image_url + ')'}" class="nav-image">
  <!-- work show -->
  <div *ngIf="selected_work" class="cursor-p" (click)="closeText()">
    <img class="close-icon" [src]="close_icon"/>
  </div>
  <div *ngIf="selected_work" (click)="selectUser()" class="text-center username cursor-p">{{selected_work.username}}</div>
  <div *ngIf="selected_work" class="hidden-ballademager"></div>
  <!-- user selected -->
  <div *ngIf="user_choosen && !selected_work" class="close-user cursor-p" (click)="closeUser()">
    <img class="close-icon" [src]="close_icon"/>
  </div>
  <div *ngIf="user_choosen && !selected_work" class="text-center username">{{user_choosen.name}}</div>
  <div *ngIf="user_choosen && !selected_work" class="hidden-ballademager"></div>
</div> </nav>`
