<navbar [selected_work]="selected_work" 
        [user_choosen]="user_choosen" 
        (close_text_emi)="closeText($event)"
        (close_user_emi)="showAllWorks($event)"
        (show_users_works)="userWorks($event.user_id, $event.username)"
></navbar>
<search (search_string_emi)="showSearchResult($event)"></search>
<text [work]="selected_work"></text>
<div #read_grid class="read-grid" *ngIf="!remove_works">
  <div #work_item *ngFor="let work of works"
    class="user-id-{{work.user_id}} work-id-{{work.id}} read-grid-work item blog">
    <h6 class="libre">
      <a class="" (mouseover)="fadeOutNotUsersWorks(work.user_id)" (click)="userWorks(work.user_id, work.username)" href="#">| {{work.username}}</a>
    </h6>
    <span class="work-text cursor-p" (click)="showText(work)">
      <h5 style="">{{work.title}}</h5>
      <div class="text-left user-work-overview" [innerHTML]="custFuncs.truncateHTMLText(work.body)"></div>
    </span>
  </div>
</div>
